* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  user-select: none;
  list-style: none;
  text-decoration: none;
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}




.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  width: 900px;
  padding: 0 50px;
  margin: 0 auto;
}


header {
  background: linear-gradient(128deg, rgba(232,232,232,1) 0%, rgba(255,255,255,1) 100%);
  /* background-color: #ffffff; */
  box-shadow: 10px 10px 15px  #d3d3d6, -10px -10px 21px #fff;
  z-index: 20;
}
.navList {
  display: flex;
  justify-content: center;
}
.navItem a {
  display: block;
  padding: 30px;
  color: gray;
  transition: all 0.2s ease-out;
}
.navItem a:hover {
  background-color: rgb(223, 223, 223);
}


.postList {
  margin-top: 30px;
  box-sizing: border-box;
}

.post {
  margin-bottom: 25px;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100px;
  
  border-radius: 40px;
  background-color: linear-gradient(295deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 100%);
  box-shadow: 10px 10px 15px  #d3d3d6, -10px -10px 21px #fff;
}

/* анимация постов */
  .post-enter {
    min-height: 0px;
    height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
  }
  .post-enter-active {
    opacity: 1;
    min-height: 100px;
    margin-bottom: 25px;
    transition: all 300ms ease-out;
  }
  .post-exit {
    /* none */
  }
  .post-exit-active {
    opacity: 0;
    min-height: 0px;
    padding-top: 0;
    padding-bottom: 0;
    height: 0;
    margin: 0;
    transition: all 300ms ease-out;
  }

  
  
.postForm {
  background: #ffffff;
  padding: 20px;
  position: sticky;
  bottom: 0;
  border-radius: 10px;
  z-index: 100;
}


.filter {
  background: #ffffff;
  
  padding: 20px;
  /* position: sticky;
  top: 0; */

  border-radius: 0 0 10px 10px ;
  background-color: linear-gradient(295deg, rgba(255,255,255,1) 100%, rgba(246,246,246,1) 100%);
  box-shadow: 10px 10px 15px  #d3d3d6, -10px -10px 21px #fff;
  z-index: 10;
}
  .filter > input {
    width: 100%;
    margin-bottom: 5px;
  }
  
.filter__btns {
  display: flex;
  justify-content: space-between;
}



.pageSelector {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  .pageSelector button {
    margin: 0 15px;
  }
    .page {
      margin: 0 3px;
      padding: 10px;
      background-color: #ffffff;
      cursor: pointer;
      transition: all 0.2s ease-out;
      border: none;
      color: gray;
      border-radius: 40px;
    }
    .page.active {
      padding: 10px;
      background-color: #dadada;
      cursor: pointer;
      transition: all 0.2s ease-out;
      border: none;
      color: gray;
      border-radius: 40px;
    }
    .page:hover {
      background-color: #f4f4f4;
    }

    
    
    
    
.about h1 {
  margin: 30px 0;
  text-align: center;
  font-size: 24px;
}
.about p {
  font-style: italic;
}

.error__code {
  margin: 100px 0 15px;
  color: rgb(255, 65, 65);
  font-size: 90px;
  text-align: center;
}
.error__title {
  font-size: 30px;
  text-align: center;
}
.error__link {
  padding: 10px;
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 50px 0;
  display: inline-block;
  font-size: 30px;
  color: gray;
  transition: all 0.2s ease-out;
}
.error__link:hover {
  background-color: rgb(226, 226, 226);
}



.login {
  background-color: rgba(0, 0, 0, 0.26);
  height: 100vh;
  width: 100vw;
}
.loginForm {
  border-radius: 20px;
  padding: 10px 30px;
  width: 400px;
  background-color: white;
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginForm h1{
  margin: 10px 0 0;
  font-size: 24px;
}
.inputs {
  margin: 10px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease-out;
}
.inputs input{
  transition: all 0.2s ease-out;
}
.inputs input:focus {
  background-color: rgb(240, 240, 240);
}
.loginForm button {
  font-size: 20px;
  border-radius: 10px;
}